/* style=""
style="text-decoration: none; color: #4A649E !important;"
style="text-decoration: none; color: #4A649E !important;"
style="text-decoration: none; color: #4A649E !important;"
style="text-decoration: none; color: #4A649E !important;"
style="text-decoration: none; color: #4A649E !important;"
style="text-decoration: none; color: #4A649E !important;"
style="text-decoration: none; color: #4A649E !important;"
style="text-decoration: none; color: #4A649E !important;"
style="text-decoration: none; color: #4A649E !important;"
style="text-decoration: none; color: #4A649E !important;"
style="text-decoration: none; color: #4A649E !important;"
style="text-decoration: none; color: #4A649E !important;"
style="text-decoration: none; color: #4A649E !important;"
style="text-decoration: none; color: #4A649E !important;"
style="text-decoration: none; color: #4A649E !important;"
style="text-decoration: none; color: #4A649E !important;"
style="text-decoration: none; color: #4A649E !important;"
style="text-decoration: none; color: #4A649E !important;" */
.footer_{
   
    display: block;
    color: #2F4858;
    box-sizing: border-box;
    width:100%;
    overflow: hidden;
    height: fit-content;
    background-color: #fff6f7;
    clip-path: ellipse(85% 100% at 50% 100%);
    padding-top: 80px;
    }
.css1{
    text-decoration: none;
    color: #4A649E !important;
    
}